RewriteEngine on
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
</IfModule>

## Apache 2.2
Deny from all

## Apache 2.4
# Require all denied
Redirect 301 view/(.*)\.php http://localhost/DWES/Proyecto/Job&Carajo-MaterialDesing